@page
@model Ecommerce.Customer.Pages.Product.CheckoutModel
@{
}

<main class="main-content">
            <div class="breadcrumb-area breadcrumb-height" data-bg-image="assets/images/breadcrumb/bg/1-1-1920x373.jpg">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12">
                            <div class="breadcrumb-item">
                                <h2 class="breadcrumb-heading">Thanh toán sản phẩm</h2>
                                <ul>
                                    <li>
                                        <a asp-page="/Home/Index">Trang chủ <i class="pe-7s-angle-right"></i></a>
                                    </li>
                                    <li>Checkout</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout-area section-space-y-axis-100" style="padding-top: 0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            
                            <form method="post" asp-page="/Product/Checkout">
                                <div class="checkbox-form">
                                    <h3>Billing Details</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label asp-for="@Model.CreateOrder.FirstName">First Name <span class="required">*</span></label>
                                                 <input asp-for="@Model.CreateOrder.FirstName" placeholder="Nhập họ"  type="text">
                                                  <span class="text-danger" asp-validation-for="@Model.CreateOrder.FirstName"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label asp-for="@Model.CreateOrder.LastName">Last Name <span class="required">*</span></label>
                                                <input asp-for="@Model.CreateOrder.LastName" placeholder="Nhập tên"  type="text">
                                                 <span class="text-danger" asp-validation-for="@Model.CreateOrder.LastName"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label asp-for="@Model.CreateOrder.Country">Country <span class="required">*</span></label>
                                                <input asp-for="@Model.CreateOrder.Country" placeholder="Nhập quê quán"  type="text">
                                                <span class="text-danger" asp-validation-for="@Model.CreateOrder.Country"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label asp-for="@Model.CreateOrder.Street">Address <span class="required">*</span></label>
                                                <input asp-for="@Model.CreateOrder.Street" placeholder="Nhập địa chỉ"  type="text">
                                                 <span class="text-danger" asp-validation-for="@Model.CreateOrder.Street"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label asp-for="@Model.CreateOrder.Province">Province <span class="required">*</span></label>
                                                <input asp-for="@Model.CreateOrder.Province" placeholder="Nhập thành phố"  type="text">
                                                 <span class="text-danger" asp-validation-for="@Model.CreateOrder.Province"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label asp-for="@Model.CreateOrder.PhoneNumber">Phone number <span class="required">*</span></label>
                                                <input asp-for="@Model.CreateOrder.PhoneNumber" placeholder="Nhập số điện thoại"  type="text">
                                                 <span class="text-danger" asp-validation-for="@Model.CreateOrder.PhoneNumber"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="different-address">
                                        <div class="order-notes">
                                            <div class="checkout-form-list checkout-form-list-2">
                                                <label asp-for="@Model.CreateOrder.NoteOrder">Order Notes</label>
                                                <textarea id="checkout-mess" cols="30" rows="10"
                                                placeholder="Notes Order" asp-for="@Model.CreateOrder.NoteOrder"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-button-payment">
                                            <input value="Thanh toán" type="submit">
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="your-order">
                                <h3>Your order</h3>
                                <div class="your-order-table table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="cart-product-name">Product</th>
                                                <th class="cart-product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                    @if(@Model.Cart != null)
                                    {
                                        @foreach (var item in @Model.Cart)
                                       {
                                           <tr class="cart_item" style="text-align: center">
                                                <td class="cart-product-name">@item.Product.Name<strong class="product-quantity">
                                                    x @item.Quantity</strong></td>
                                                <td class="cart-product-total"><span class="amount">$@(item.Quantity * @item.Product.Price)</span></td>
                                            </tr>
                                       }
                                    }
                                </tbody>
                                        <tfoot>
                                            @if(@Model.Cart != null){
                                                <tr class="order-total" style="text-align: center">
                                                <th>Order Total</th>
                                                <td><strong><span class="amount">$@Model.Cart.Sum(i => i.Product.Price * i.Quantity)</span></strong></td>
                                            </tr>
                                            }
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment-method">
                                    <div class="payment-accordion">
                                        <div id="accordion">
                                            <div class="card">
                                                <div class="card-header" id="#payment-1">
                                                    <h5 class="panel-title">
                                                        <a href="javascript:void(0)" class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                                            Direct Bank Transfer.
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                                    <div class="card-body">
                                                        <p>Make your payment directly into our bank account. Please use your Order
                                                            ID as the payment
                                                            reference. Your order won’t be shipped until the funds have cleared in
                                                            our account.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="#payment-2">
                                                    <h5 class="panel-title">
                                                        <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                                                            Cheque Payment
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                                    <div class="card-body">
                                                        <p>Make your payment directly into our bank account. Please use your Order
                                                            ID as the payment
                                                            reference. Your order won’t be shipped until the funds have cleared in
                                                            our account.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="#payment-3">
                                                    <h5 class="panel-title">
                                                        <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                                                            PayPal
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                                    <div class="card-body">
                                                        <p>Make your payment directly into our bank account. Please use your Order
                                                            ID as the payment
                                                            reference. Your order won’t be shipped until the funds have cleared in
                                                            our account.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

@section scripts{
   <partial name="_ValidationScriptsPartial" />
}