@page
@model Ecommerce.Customer.Pages.Auth.RegisterModel
@{
}

<main class="main-content">
            
            <div class="login-register-area section-space-y-axis-100">
                <div class="container">
                    <div class="row" style="justify-content: center">
                        <div class="col-lg-6 pt-10 pt-lg-0">
                            <form method="post" asp-page="/Auth/Register" asp-page-handler="register">
                                <div class="login-form">
                                    <h4 class="login-title">Register</h4>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <label asp-for="@Model.UserRegistration.FirstName">FirstName*</label>
                                            <input asp-for="@Model.UserRegistration.FirstName" type="text" placeholder="FirstName">
                                            <span class="text-danger" asp-validation-for="@Model.UserRegistration.FirstName"></span>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <label asp-for="@Model.UserRegistration.LastName">LastName*</label>
                                            <input asp-for="@Model.UserRegistration.LastName" type="text" placeholder="LastName">
                                            <span class="text-danger" asp-validation-for="@Model.UserRegistration.LastName"></span>

                                        </div>
                                        <div class="col-md-12">
                                            <label asp-for="@Model.UserRegistration.Email">Email*</label>
                                            <input asp-for="@Model.UserRegistration.Email" type="email" placeholder="Email">
                                            <span class="text-danger" asp-validation-for="@Model.UserRegistration.Email"></span>

                                        </div>
                                        <div class="col-md-12">
                                            <label asp-for="@Model.UserRegistration.PhoneNumber">PhoneNumber*</label>
                                            <input asp-for="@Model.UserRegistration.PhoneNumber" placeholder="PhoneNumber">
                                            <span class="text-danger" asp-validation-for="@Model.UserRegistration.PhoneNumber"></span>

                                        </div>
                                        <div class="col-md-12">
                                            <label asp-for="@Model.UserRegistration.Line1">Street*</label>
                                            <input asp-for="@Model.UserRegistration.Line1" type="text" placeholder="Street">
                                            <span class="text-danger" asp-validation-for="@Model.UserRegistration.Line1"></span>

                                        </div>
                                        <div class="col-md-12">
                                            <label asp-for="@Model.UserRegistration.Province">Province*</label>
                                            <input asp-for="@Model.UserRegistration.Province"  type="text" placeholder="Province">
                                            <span class="text-danger" asp-validation-for="@Model.UserRegistration.Province"></span>

                                        </div>
                                        <div class="col-md-12">
                                            <label asp-for="@Model.UserRegistration.Country">Country*</label>
                                            <input asp-for="@Model.UserRegistration.Country"  type="text" placeholder="Province">
                                            <span class="text-danger" asp-validation-for="@Model.UserRegistration.Country"></span>

                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="@Model.UserRegistration.Password"> Password*</label>
                                            <input asp-for="@Model.UserRegistration.Password" type="password" placeholder="Password">
                                            <span class="text-danger" asp-validation-for="@Model.UserRegistration.Password"></span>

                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="@Model.UserRegistration.ConfirmPassword">ConfirmPassword*</label>
                                            <input  asp-for="@Model.UserRegistration.ConfirmPassword" type="password" placeholder="ConfirmPassword">
                                            <span class="text-danger" asp-validation-for="@Model.UserRegistration.ConfirmPassword"></span>

                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">Đăng ký</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</main>
@section scripts{
   <partial name="_ValidationScriptsPartial" />
}